body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin: 0;
    width: 100%;
    overflow-x: hidden; /* 수평 스크롤 방지 */

}

.main0, .main1, .main2, .tinygram, .bot {
    width: 100%; /* 화면 너비를 100%로 설정 */
}

.main0 > div, .main1 > div, .main2 > div, .tinygram > div, .bot > div {
    width: 100%;
}

p {
    color: #372B2B;
    font-family: Pretendard Variable;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 38.4px; /* 160% */
    letter-spacing: 0.32px;
    margin: 0;
}

.main0 {
    margin: auto;
    max-width: 720px;
    background-color: #FFF5F7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    overflow: hidden;
}

.main0 > div {
    display: flex;
    width: 360px;
    padding: 64px 20px 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
}

.main0 > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}


.btn1 {
    font-family:Pretendard Variable;
    font-weight: 800;
    color: #fff;
    padding: 10px 16px;
    background-color: #FF6689;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.img01 {
    box-shadow: 0px 0px 20px 0px rgba(255, 125, 151, 0.25);
    margin-top: 20px;
    width: 276px;
    height: 540px;
    background-color: #fff;
    border-radius: 47px 47px 0px 0px;
    padding: 18px 18px 0px 18px;
    overflow: hidden;
}

.img01 > div {
    border-radius: 30px 30px 0px 0px;
    overflow: hidden;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1000px);
    }
}

.img01 > div > img {
    width: 100%;
    object-fit: contain;
    border-radius: inherit;
    animation: moveUpDown 8s infinite;
}


.main1 {
    margin: auto;
    max-width: 720px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    overflow: hidden;
}

.main1 > div {
    display: flex;
    width: 360px;
    padding: 64px 20px 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
}

.img03 {
    box-shadow: 0px 0px 20px 0px rgba(255, 125, 151, 0.25);
    margin-top: 20px;
    width: 276px;
    height: 540px;
    background-color: #fff;
    border-radius: 47px 47px 0px 0px;
    padding: 18px 18px 0px 18px;
    overflow: hidden;
}

.img03 > div {
    border-radius: 30px 30px 0px 0px;
    overflow: hidden;
}

.img03 > div > video {
    width: 100%;
    height: 100;
    object-fit: contain;
    border-radius: inherit;
}


.main2 {
    margin: auto;
    max-width: 720px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    overflow: hidden;
}

.main2 > div {
    display: flex;
    width: 360px;
    padding: 64px 20px 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
    margin: auto;
}

.img02 {
    box-shadow: 0px 0px 20px 0px rgba(255, 125, 151, 0.25);
    margin-top: 20px;
    width: 276px;
    height: 400px;
    background-color: #fff;
    border-radius: 47px 47px 0px 0px;
    padding: 18px 18px 0px 18px;
}

.img02 > div {
    background-color: #F8D9D9;
    border-radius: 30px 30px 0px 0px;
    height: 100%;
    position: relative;
}

.last00 {
    box-shadow: 0px 0px 20px 0px rgba(255, 125, 151, 0.25);
    width: 242px;
    height: 242px;
    position: absolute;
    background-color: lightcoral;
    top: 36px; /* 부모 요소의 위쪽을 기준으로 50px 위로 이동 */
    left: -50px; /* 부모 요소의 왼쪽을 기준으로 중앙에 위치 */
    border-radius: 20px; 
}

.last00 > img {
    border-radius: inherit;
}

.last01 {
    box-shadow: 0px 0px 20px 0px rgba(255, 125, 151, 0.25);
    width: 158px;
    height: 158px;
    position: absolute;
    background-color: lightcoral;
    top: 196px; /* 부모 요소의 위쪽을 기준으로 50px 위로 이동 */
    left: 180px; /* 부모 요소의 왼쪽을 기준으로 중앙에 위치 */
    border-radius: 20px; 
}

.last01 > img {
    border-radius: inherit;
}

.bot {
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: white;
    text-align: center;
    z-index: 1000; /* 다른 요소보다 위에 표시되도록 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot > div {

    display: flex;
    max-width: 720px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 22px;
}

.bot > div {
    padding: 10px 0px 10px 0px;
}
.bot > div > div {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.aa {
    padding-right: 20px;
}
.btn2 {
    font-family:Pretendard Variable;
    font-weight: 800;
    color: #fff;
    padding: 10px 16px;
    background-color: #FF6689;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.tinygram {
    margin: auto;
    max-width: 720px;
    background-color: #FAFAFA;
}

.tinygram > div {
    width: 360px;
    padding: 64px 20px 130px 20px;
    margin: auto;
}
.tinygram > div > .logo > p {
    color: #A38A8A;
    font-family: Pretendard Variable;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    margin: 0;
    padding-bottom: 22px;
}

.tinygram > div > .contactus {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.tinygram > div > .contactus > p {
    color: #A38A8A;
    font-family: Pretendard Variable;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.tinygram > div > .contactus > .mailmail {
    display: flex;
    align-items: center;
    gap: 4px;
}
